[Desktop Entry]
Name=Quake Windows
Comment=Make any window behave like a quake-style terminal!
Icon=preferences-system-windows-move
Type=Service

X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Ivan Volkov
X-KDE-PluginInfo-Email=angrycore@gmail.com
X-KDE-PluginInfo-Name=quakewindows
X-KDE-PluginInfo-Version=1.4
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Category=Windows and Tasks
